@keyframes beating {

    50%{
            scale: 1.1;
        }
}

@keyframes roll {
    
    to{
        transform: rotate(720deg);
    }
}

@font-face {
    font-family: 'olden';
    src: url(../assets/fonts/OldEnglishFive.ttf);
}

.whats{
    animation: beating .7s infinite;
}

.formas_pagamentos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.logo_disco{
    animation: roll 2s infinite;
}

.main_cards{
    overflow: hidden;
    
}

.main_cards img{
    transition: all .5s;
}

.main_cards a{
    z-index: 2;
}

.scalez{
    scale: 1.1;
    
}