@font-face {
    font-family: 'echelon';
    src: url(./DASHER-BF654dcfb0a41c8.ttf);
}

@font-face {
    font-family:'snowmas';
    src: url(./SNOWMAS-BF654caf522b78b.otf);
}

@font-face {
    font-family:'huntesla';
    src: url(./Huntesla-Gloficka-BF654da4e30fafe.otf);
}

@font-face {
    font-family: 'oldenglish';
    src: url(./OldEnglishFive.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mcontainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    overflow: hidden;
    backdrop-filter: blur();
    z-index: 3;
}

.wallpaper-bio{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    position: absolute;
    top: 0;
}

.wallpaper img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(3px) grayscale(1);
    z-index: -1;
}

.topnav {
    width: 100%;
    height: 80px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    transition: all .5s;
    z-index: 4;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: black;
    color: beige;
    font-size: 24px;
    position: fixed;
    top: 80px;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 2px 10px black;
    z-index: 2;
    font-family: 'oldenglish';
    text-shadow: 1px 1px 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: default;
    font-family: 'oldenglish';
    text-shadow: 1px 1px 10px;
}

.logo-item {
    max-height: 80px;
    font-size: 32px;
}

.modal-frame{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,.6);
    backdrop-filter: blur(10px);
    z-index: 4;
    position: fixed;
    top: 0;
    visibility: hidden;
    transition: all .5s;
    transform: scale(0);
}

.modal-frame img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
    transition: all .5s;
}


.btn-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 113px;
    text-decoration: none;
    list-style: none;
    transition: all .5s;
    font-size: 32px;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 220,.4);
    position: fixed;
    top: -100%;
    left: 0;
    z-index:-1;
    backdrop-filter: blur(10px);
    font-family: 'oldenglish';
    text-shadow: 1px 1px 10px;
}

.btn-bar li {
    font-weight: 400;
    max-height: 38px;
    margin-bottom: 20px;
}

.btn-bar a {
    text-decoration: none;
    color: black;
}

.social {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
}

.social i {
    height: 34px;
}

.social a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 10px;
}

.btn-bar input:checked~ul {
    top: 0;
}

.btn-bar i {
    font-size: 32px;
    cursor: pointer;
}

.whats-btn {
    position: fixed;
    bottom:0;
    right: 0;
    cursor: pointer;
}

.whats-btn img{
    width: 80px;
}

.grid-galeria {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: absolute;
    padding-top: 124px;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 140px;
    row-gap: 3px;
    column-gap: 3px;
    z-index: 0;
}

.grid-galeria div{
    overflow: hidden;
}

.imgs img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}

.imgs img:hover{
    scale: 1.1;
    filter:grayscale(1);
}

.span2{
    grid-column: span 2;
    grid-row: span 2;
}


.sobre-container{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top: 0;
    overflow: hidden;
    font-family:'snowmas';
}

.sobre-container video{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.sobre-icon{
    position: absolute;
    top: 0;
    padding: 20px;
    font-size: 32px;
    color: rgb(230, 188, 5);
}

.sobre-icon a{
    text-decoration: none;
    color:rgb(230, 188, 5) ;
}

.placeholder-container{
    max-width: 425px;
    width: 95%;
    height:30%;
    background-color: rgb(0, 0, 0,.5);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    overflow: auto;
}

.wallpaper-bio{
    background-color: rgb(0, 0, 0,.5);
    position: relative;
    max-width: 425px;
    width: 95%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 1px 1px 20px;
    filter: blur(10px);
}
.foto{
    flex: 30%;
    text-align: center;
    font-size: 20px;
    filter: none;
    color: rgb(230, 188, 5);
    font-family: 'huntesla';
}

.bio{
    flex: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgb(230, 188, 5);
}


.container-loader{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    z-index: 4;
}


.loading-icon{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(245, 245, 220,0);
    animation: is-rotating 1s infinite;
    border-radius: 100%;
    background-image:url(LOGO\ ICARO\ MELO\ TATTOO.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.foto img{
    width: 150px;
    border-radius: 100%;
}




@keyframes is-rotating{
    to {
      transform: rotate(1turn);
    }
  }


@media screen and (min-width:425px) {
    .btn-bar ul {
        width: 100%;
    }

    .grid-galeria {
        width: 100%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 3px;
        column-gap: 3px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 4;
        grid-row: span 2;
    }
    
    .span3{
        grid-column: span 2;
        grid-row: span 1;
    }

    .img1{
        grid-row:2/4 ;
    }
}

@media screen and (min-width:512px) {
    .btn-bar ul {
        width: 100%;
    }

    .grid-galeria {
        width: 100%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 5px;
        column-gap: 5px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .span3{
        grid-column: span 2;
        grid-row: span 1;
    }

    .img1{
        grid-row:2/4 ;
    }
}

@media screen and (min-width:1024px) {
    .btn-bar ul {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
        width: fit-content;
        padding-top: 0;
        z-index:3;
        transition: none;
    }

    .btn-bar li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-bar i {
        display: none;
    }

    .grid-galeria {
        max-width: 90%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 5px;
        column-gap: 5px;
        overflow-y:auto;
        overflow-x: hidden;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 3;
        grid-row: span 3;
    }
    
    .span3{
        grid-row: span 2;
    }

    .span4{
        grid-column: span 2;

    }

    .img1{
        grid-row:1/4;
    }

    #img3{
        grid-row: 3/5;
    }

    #img16{
        grid-column: 3/6;
    }
}


