* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Waiting Summer', sans-serif;
}

.mcontainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    overflow: auto;
}


.topnav {
    width: 100%;
    height: 80px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: all .5s;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: black;
    color: beige;
    font-size: 28px;
    position: fixed;
    top: 80px;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 2px 10px black;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo-item {
    max-height: 80px;
    font-size: 32px;
}

.nome {
    cursor: pointer;
}

.btn-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 113px;
    text-decoration: none;
    list-style: none;
    transition: all .5s;
    font-size: 32px;
    width: 50%;
    height: 100%;
    background-color: beige;
    position: fixed;
    top: 0;
    right: -100%;
    z-index:-1;
}

.btn-bar li {
    max-height: 38px;
}

.btn-bar a {
    text-decoration: none;
    color: black;
}

.social {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
}

.social i {
    height: 34px;
}

.social a {
    text-decoration: none;
    color: black;
}

.btn-bar input:checked~ul {
    right: 0;
}

.btn-bar i {
    font-size: 32px;
    cursor: pointer;
}

.whats-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.whats-btn img{
    width: 80px;
}

.grid-galeria {
    width: 100%;
    position: absolute;
    padding-top: 80px;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 140px;
    row-gap: 3px;
    column-gap: 3px;
}

.grid-galeria div{
    overflow: hidden;
}

.imgs img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
}

.imgs img:hover{
    scale: 1.1;
    filter:grayscale(1);
}

.span2{
    grid-column: span 2;
    grid-row: span 2;
}

@media screen and (min-width:425px) {
    .btn-bar ul {
        width: 35%;
    }

    .grid-galeria {
        width: 100%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 3px;
        column-gap: 3px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 4;
        grid-row: span 2;
    }
    
    .span3{
        grid-column: span 2;
        grid-row: span 1;
    }

    .img1{
        grid-row:2/4 ;
    }
}

@media screen and (min-width:512px) {
    .btn-bar ul {
        width: 30%;
    }

    .grid-galeria {
        width: 100%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 5px;
        column-gap: 5px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .span3{
        grid-column: span 2;
        grid-row: span 1;
    }

    .img1{
        grid-row:2/4 ;
    }
}

@media screen and (min-width:1024px) {
    .btn-bar ul {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
        width: fit-content;
        z-index: 1;
        padding-top: 0;
    }

    .btn-bar li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-bar i {
        display: none;
    }

    .grid-galeria {
        max-width: 90%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-auto-rows:200px;
        grid-auto-flow: dense;
        row-gap: 5px;
        column-gap: 5px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 3;
        grid-row: span 3;
    }
    
    .span3{
        grid-row: span 2;
    }

    .span4{
        grid-column: span 2;

    }

    .img1{
        grid-row:1/4;
    }

    #img3{
        grid-row: 3/5;
    }

    #img16{
        grid-column: 3/6;
    }
}


@media screen and (min-width:1100px) {
    .btn-bar ul {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
        width: fit-content;
        z-index: 1;
        padding-top: 0;
    }

    .btn-bar li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-bar i {
        display: none;
    }

    .grid-galeria {
        max-width: 90%;
        position: absolute;
        padding-top: 113px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-auto-rows:250px;
        grid-auto-flow: dense;
        row-gap: 5px;
        column-gap: 5px;
    }
    
    .imgs img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .grid-galeria img{
        width: 100%;
    }
    
    .span2{
        grid-column: span 3;
        grid-row: span 3;
    }
    
    .span3{
        grid-row: span 2;
    }

    .span4{
        grid-column: span 2;
        grid-row: span 2;
    }

    .img1{
        grid-row:1/3;
        grid-column: 1/3;
    }

    #img3{
        grid-row: 3/5;
    }

    #img16{
        grid-column: 3/6;
    }

    #img23{
        grid-column: 1/3;
        grid-row: 10/12;
    }

    #img19{
        grid-row: 11/15;
    }
}
